<ul>
  {{#each sneakersFromDB}}
  <li><a href="/sneakers/{{this._id}}"> {{this.name}} </a> </li>
    <p>- leaked by {{ this.owner.fullName }}</p>
    <img src="{{this.imageURL}}" alt="" width="300">

    {{#if this.isOwner}}
      <form action="/sneakers/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
      <a href="/sneakers/{{this._id}}/edit">Edit the sneaker</a>
    {{/if}}
      {{!-- <a href="/sneakers">Back to sneakers list</a> --}}
      
  {{/each}}
</ul>
