<h1>{{ currentUser.fullName }}'s Lost Soles sneaker leaks</h1>

{{!-- Note: must get sneakrs from DB; go to user-routes and do Sneaker.find(object=> {owner:req.user._id}).
I also have to create a variable called Sneaker and require sneaker-model to be able to find the Sneaker in sneakersFromDB --}}
<div class="panel-container">
  {{#each sneakersFromDB}}
    <div class="panel">
      <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="{{this.imageURL}}" alt="Card image cap">
        <div class="card-body">
          <h5><a href="/sneakers/{{this._id}}" class="card-title"> {{this.name}} </a></h5>
          {{!-- <h5 class="card-title" >{{this.name}}</h5> --}}
          <p class="card-text">Release Date: {{this.date}}</p>
          <form action="/sneakers/{{this._id}}/delete" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>